@import model.Person
@(form: Form[Person])
@main("Add people") {
    <h2>Add person form</h2>
    <div>
    @helper.form(routes.PersonController.actionAddPersonFormEncodedInput) {
        <input type="text" name="name" placeholder="Name..." required>
        <input type="text" name="age" placeholder="Age..." required>
        <input type="submit" value="Submit">
        }
    </div>
    <hr/>
    <h2>Add person form - using JSON endpoint</h2>
    <div>
    @helper.form(routes.PersonController.actionAddPersonJsonInput) {
        <input type="text" name="name" placeholder="Name..." required>
        <input type="text" name="age" placeholder="Age..." required>
        <input type="submit" value="Submit">
        }
    </div>
}