@import model.Person
@(list: List[Person])

@main("List of people") {

    <h2>We people</h2>
    <div>
        <ul>
        @list.map { person =>
            <li>
                <i>@person.name</i>.&nbsp;@person.age
            </li>
        }
        </ul>
        <ul><a href="/">&lt;&lt;&lt;&lt;&lt;&lt; Back</a></ul>
    </div>
}
